.about-content{
    display: block;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.about-img img{
    max-width: 1020px;
}
.about-text p{
    font-size: 20px;
    opacity: 0.8;
    max-width: 1200px;
    margin-bottom: 20px;
}
