.header-content {
    min-height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url("../../img/comixback.jpg") center/cover no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-title{
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}

.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    font-size: 1.8rem;
}